{% extends "base.html" %}

{% block body %}

	<br>
	<h3>  DSLR Deals </h3>
	<div class="row">
		<div class="col">
			<div class="card" style="width: 18rem;">
				<img src="/static/dslrs/nikon.jpg/" class="card-img-top" alt="nikon">
				<div class="card-body">
					<h5 class="card-title">Nikon D5200</h5>
					<p class="card-text">With the Nikon D5200 you can also engage in continuous shooting with a 5 FPS framerate.</p>
					<a href="/products/nikon/0/dslr" class="btn btn-primary">Know More</a>
				</div>
			</div>
		</div>
		
		<div class="col">
			<div class="card" style="width: 18rem;">
				<img src="/static/dslrs/canon.jpg/" class="card-img-top" alt="canon">
				<div class="card-body">
					<h5 class="card-title">Canon EOS 70D</h5>
					<p class="card-text">The Canon EOS 70D is a digital single-lens reflex camera by Canon publicly announced on July 2.</p>
					<a href="/products/canon/0/dslr" class="btn btn-primary">Know More</a>
				</div>
			</div>
		</div>
		
		<div class="col">
			<div class="card" style="width: 18rem;">
				<img src="/static/dslrs/sony.jpg/" class="card-img-top" alt="sony">
				<div class="card-body">
					<h5 class="card-title">Sony Alpha 2</h5>
					<p class="card-text">Sony Alpha a7 II Review. The Sony Alpha a7 II is an image-stabilized full frame mirrorless camera.</p>
					<a href="/products/sony/0/dslr" class="btn btn-primary">Know More</a>
				</div>
			</div>
		</div>
	</div>
	
	<br><br>
	
	<div class="row">
		<div class="col">
			<div class="card" style="width: 18rem;">
				<img src="/static/dslrs/samsung_d.jpg/" class="card-img-top" alt="samsung_dslr">
				<div class="card-body">
					<h5 class="card-title">Samsung NX30</h5>
					<p class="card-text">The Samsung NX30 is a midrange mirrorless camera that features a 20.3MP CMOS sensor.</p>
					<a href="/products/samsung/0/dslr" class="btn btn-primary">Know More</a>
				</div>
			</div>
		</div>
		
		<div class="col">
			<div class="card" style="width: 18rem;">
				<img src="/static/dslrs/yashika.jpg/" class="card-img-top" alt="yashika">
				<div class="card-body">
					<h5 class="card-title">Yashika Dx Master</h5>
					<p class="card-text">Yashika was a Japanese manufacturer of cameras, originally active from 1949.</p>
					<a href="/products/yashika/0/dslr" class="btn btn-primary">Know More</a>
				</div>
			</div>
		</div>
		
		<div class="col">
			<div class="card" style="width: 18rem;">
				<img src="/static/dslrs/panasonic.jpg/" class="card-img-top" alt="panasonic">
				<div class="card-body">
					<h5 class="card-title">Pansonic Lumix 300</h5>
					<p class="card-text">Its slender body features a high-res electronic viewfinder built into the back.</p>
					<a href="/products/panasonic/0/dslr" class="btn btn-primary">Know More</a>
				</div>
			</div>
		</div>
	</div>
	
	<br><br>
	
{% endblock %}