{% extends "base.html" %}

{% block body %}

	<br>
	<h3>  Laptop Deals </h3>
	<div class="row">
		<div class="col">
			<div class="card" style="width: 18rem;">
				<img src="/static/laptops/dell.jpg/" class="card-img-top" alt="dell">
				<div class="card-body">
					<h5 class="card-title">Dell Inspiron 2664</h5>
					<p class="card-text">Dell as a range of affordable laptop computers, desktop computers and all-in-one computers.</p>
					<a href="/products/dell/0/laptop" class="btn btn-primary">Know More</a>
				</div>
			</div>
		</div>
		
		<div class="col">
			<div class="card" style="width: 18rem;">
				<img src="/static/laptops/hp.jpg/" class="card-img-top" alt="hp">
				<div class="card-body">
					<h5 class="card-title">HP Pavillion</h5>
					<p class="card-text">HP Pavilion 15 is a Windows 10 laptop with a 15.60-inch display that has a resolution of 1366x768 pixels.</p>
					<a href="/products/hp/0/laptop" class="btn btn-primary">Know More</a>
				</div>
			</div>
		</div>
		
		<div class="col">
			<div class="card" style="width: 18rem;">
				<img src="/static/laptops/lenovo.jpg/" class="card-img-top" alt="lenovo">
				<div class="card-body">
					<h5 class="card-title">Lenovo Yoga</h5>
					<p class="card-text">The Lenovo IdeaPad Yoga is a line of convertible tablet computers that run the Windows operating system (OS).</p>
					<a href="/products/lenovo/0/laptop" class="btn btn-primary">Know More</a>
				</div>
			</div>
		</div>
	</div>
	
	<br><br>
	
	<div class="row">
		<div class="col">
			<div class="card" style="width: 18rem;">
				<img src="/static/laptops/asus.jpg/" class="card-img-top" alt="asus">
				<div class="card-body">
					<h5 class="card-title">Asus</h5>
					<p class="card-text">Designed for entertainment, the 15.6-inch ASUS X540 is powered by an Intel Core processor.</p>
					<a href="/products/asus/0/laptop" class="btn btn-primary">Know More</a>
				</div>
			</div>
		</div>
		
		<div class="col">
			<div class="card" style="width: 18rem;">
				<img src="/static/laptops/mac_book.jpg/" class="card-img-top" alt="macbook">
				<div class="card-body">
					<h5 class="card-title">Mackbook Air Pro</h5>
					<p class="card-text">The MacBook Air is a line of laptop computers developed and manufactured by Apple Inc.</p>
					<a href="/products/apple_mac/0/laptop" class="btn btn-primary">Know More</a>
				</div>
			</div>
		</div>
		
		<div class="col">
			<div class="card" style="width: 18rem;">
				<img src="/static/laptops/vaio.jpg/" class="card-img-top" alt="vaio">
				<div class="card-body">
					<h5 class="card-title">Vaio</h5>
					<p class="card-text">Sony VAIO Fit 15 SVF15318 laptop runs on Windows 8 and has Intel Core i5 (4th generation).</p>
					<a href="/products/vaio/0/laptop" class="btn btn-primary">Know More</a>
				</div>
			</div>
		</div>
	</div>
	
	<br><br>
	
{% endblock %}