{% extends "base.html" %}

{% block body %}

	<br>
	<h3>  Mobile Deals </h3>
	<div class="row">
		<div class="col">
			<div class="card" style="width: 18rem;">
				<img src="/static/mobiles/iphone-se-2.jpg/" class="card-img-top" alt="iphone-se-2">
				<div class="card-body">
					<h5 class="card-title">iPhone-SE-2</h5>
					<p class="card-text">iPhone SE (2020) smartphone was launched on 15th April 2020. The phone comes with a 4.70-inch touchscreen display.</p>
					<a href="/products/apple/0/mobile" class="btn btn-primary">Know More</a>
				</div>
			</div>
		</div>
		
		<div class="col">
			<div class="card" style="width: 18rem;">
				<img src="/static/mobiles/pixel-2.jpg/" class="card-img-top" alt="pixel-2">
				<div class="card-body">
					<h5 class="card-title">Google Pixel 2</h5>
					<p class="card-text">Google Pixel 2 smartphone comes with a 5-inch touchscreen display with a resolution of 1080 * 1920 pixels.</p>
					<a href="/products/google/0/mobile" class="btn btn-primary">Know More</a>
				</div>
			</div>
		</div>
		
		<div class="col">
			<div class="card" style="width: 18rem;">
				<img src="/static/mobiles/samsung-s10.jpg/" class="card-img-top" alt="samsung-s10">
				<div class="card-body">
					<h5 class="card-title">Samsung S10</h5>
					<p class="card-text">The phone is powered by Octa core Cortex A55 processor and in-built storage capacity of USB 3.0 128GB.</p>
					<a href="/products/samsung/0/mobile" class="btn btn-primary">Know More</a>
				</div>
			</div>
		</div>
	</div>
	
	<br><br>
	
	<div class="row">
		<div class="col">
			<div class="card" style="width: 18rem;">
				<img src="/static/mobiles/oneplus-7t.jpg/" class="card-img-top" alt="omeplus-7t">
				<div class="card-body">
					<h5 class="card-title">Oneplus-7T</h5>
					<p class="card-text">OnePlus 7T camera features Dual-LED flash, HDR, and panorama powered by an octa core 855 SoC.</p>
					<a href="/products/oneplus/0/mobile" class="btn btn-primary">Know More</a>
				</div>
			</div>
		</div>
		
		<div class="col">
			<div class="card" style="width: 18rem;">
				<img src="/static/mobiles/5-pro.jpg/" class="card-img-top" alt="note-5-pro">
				<div class="card-body">
					<h5 class="card-title">Note 5 Pro</h5>
					<p class="card-text">The device sports a 5.99-inch IPS LCD full HD+ display, which exhibits an excellent pixel density.</p>
					<a href="/products/redmi/0/mobile" class="btn btn-primary">Know More</a>
				</div>
			</div>
		</div>
		
		<div class="col">
			<div class="card" style="width: 18rem;">
				<img src="/static/mobiles/2-pro.jpg/" class="card-img-top" alt="realme-2-pro">
				<div class="card-body">
					<h5 class="card-title">Realme 2 Pro</h5>
					<p class="card-text">The Realme 2 Pro functions on a two Cortex A53 quad-core processors (1.95GHz + 1.8GHz).</p>
					<a href="/products/realme/0/mobile" class="btn btn-primary">Know More</a>
				</div>
			</div>
		</div>
	</div>
	
	<br><br>
	
{% endblock %}